.book {
    margin: 15px auto;
    background-color: var(--bg);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;

    .image {
        margin-top: 1rem;
    }

    .title {
        margin: 10px;
    }

    .subtitle {
        margin: auto 10px;
        color: #878585;
        font-size: 16px;
    }

    .tagname {
        margin: 10px;
        background-color: #E8F0ED;
        padding: 5px 15px;
        border-radius: 10px;
        font-size: 14px;
        color: var(--text);
    }

    .desc {
        /* text-align: left; */
        margin: 10px;
        padding: 10px;
        width: 300px;
    }

    .review-section {
        width: 100%;
        border-top: 1px solid #EEEEEE;
        padding: 10px;
    }
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .reviews-title {
        display: flex;
        justify-content: space-between;
        background-color: #E8F0ED;
        border-radius: 8px;
        padding: 10px 20px;
        width: 300px;
    }
}